.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: 5px;
    
    li {
      display: inline-block;
      margin-bottom: 4px;
    }
    
    a {
      background-color: #eceeef;
      color: #818a91;
      font-size: 16px;
      display: inline-block;
      line-height: 44px;
      width: 44px;
      height: 44px;
      text-align: center;
      margin-right: 8px;
      border-radius: 100%;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      opacity: 100%;
  
      .fa-brands {
        line-height: 44px;
      }
    }
    
    a:active,
    a:focus,
    a:hover {
      color: #fff;
      background-color: #29aafe
    }
  
    a.facebook:hover {
      background-color: #3b5998
    }
    
    a.twitter:hover {
      background-color: #00aced
    }
    
    a.trello:hover {
      background-color: #0079BF
    }
    
    a.linkedin:hover {
      background-color: #007bb6
    }
  }