.p-control li {
    border-radius: 3px;
    --bs-bg-opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgba(35, 40, 45, 1) !important;
    padding: .5rem !important;
    margin: 1rem !important;
}

.p-control>a {
    text-decoration: none;
}