@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Redressed&display=swap');

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
  overflow: overlay;
}

.fz-jumbo{ font-size: calc(2vw + 30px); }
.fz-titulo{ font-size: calc(1vw + 20px); }
.fz-subtitulo{ font-size: calc(.6vw + 10px); }
.fz-texto{ font-size: calc(.4vw + 10px); }
.fz-sm-texto{ font-size: calc(.2vw + 10px); }

.lt-10{ -webkit-line-clamp: 10; }
.lt-3{ -webkit-line-clamp: 3; }
.lt-2{ -webkit-line-clamp: 2; }
.lt-1{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.lt-10, .lt-3, .lt-2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.z-titulo{
  width: calc(1.8vw + 20px);
  height: calc(1.8vw + 20px);
}
.z-subtitulo{
  width: calc(.8vw + 15px);
  height: calc(.8vw + 15px);
}

#sakura {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.rosa { background-color: rgb(206, 143, 153); }

.text-pink { color: rgb(206, 143, 153); }
.text-pink:hover { color: rgb(180, 151, 156); }

.link-pink { color: rgb(206, 143, 153) !important; }
.link-pink:hover { color: rgb(180, 151, 156) !important; }

.jumbo {
  font-family: 'Redressed', cursive;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pater {
  position: relative;
  min-height: calc(100vh - 142px); /*72px navbar + 70px footer*/
  margin-top: 72px;
  z-index: 10;
}

.row>.card {
  padding-left: 0;
  padding-right: 0;
}

.card {
  border: none;
  opacity: 0.9;
}

.card-header{
  word-wrap: anywhere;
}

.btn-primary {
  border-color: transparent !important;
}

.piePagina {
  flex-flow: column;
  flex: 0 1 50px;
  margin-top: 10px;
  padding: 0.5em;
  color: whitesmoke;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 96%;
  margin: 0 10vw;
}

.piePagina .social-icons {
  text-align: right;
  margin-top: 6px;
}

.piePagina .copyrightText {
  text-align: left;
  margin-top: 14px;
  margin-left: 15px;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: 5px;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 100%;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.trello:hover {
  background-color: #0079BF
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.fa-brands {
  line-height: 44px;
} 

.mw-75{ max-width: 75%; }
.mw-50{ max-width: 48%; }
.mw-35{ max-width: 35%; }
.mw-25{ max-width: 23%; }

.mh-75{ max-height: 75vh; }
.mh-50{ max-height: 48vh; }
.mh-35{ max-height: 35vh; }
.mh-25{ max-height: 23vh; }


.bg-dark-light {
  --bs-bg-opacity: 1;
  background-color: rgba(35, 40, 45, 1) !important;
}

.bs-s{ border-style: solid; }

.bc-dark{ border-color: #adb5bd; }

.translucido {
  opacity: 0.9;
}

.tabla th, .tabla td{
  text-align: center;
  color: rgb(255, 255, 255) !important;
}

.tabla thead{
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
}

.tabla td{
  background-color: rgba(35, 40, 45, 1) !important;
}